In [1]:
import pandas as pd

In [56]:
df1=pd.DataFrame({"day":["2/10"], "time":[200]})
df3=pd.DataFrame({"day":["2/10"], "time":[100]})
df2=pd.DataFrame({"day":["2/11"], "time":[300]})
pd.concat([df1,df2,df3])

    day  time
0  2/10   200
0  2/11   300
0  2/10   100

In [69]:
df1.loc[len(df1)-1,"time"]

200